# Binarios y ejecutables externos
/bin/*
!/bin/*.ps1
web/roundcube/**/bin/
web/roundcube/bin/
*.exe
*.zip
*.dll

# Logs y temporales
*.log
*.pdf
*.db
*.sqlite
web/roundcube/logs/*
web/roundcube/temp/*
temp_render.html
tunnel_info.json
scratch/
